#canvas {
    /*width: 960px;*/
    /*height: 960px;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid black ;

    .rowContainer {
        display: flex;
        align-items: stretch;
        flex-grow: 1;

        .pixel {
            flex-grow: 1;
            opacity: 0;
            background-color: black;
        }
    }
}

/* #colorContainer {
    display: flex;

    .color {
        width: 25px;
        height: 25px;
        border: 2px solid black;
        flex-grow: 0;
    }

    #black {
        background-color: black;
    }

    #blue {
        background-color: blue;
    }

    #green {
        background-color: green;
    }

    #yellow {
        background-color: yellow;
    }

    #red {
        background-color: red;
    }

} */